on fs && property:sys.usb.configfs=1
    mkdir /config/usb_gadget/g1/functions/ffs.mtp

on fs
    mkdir /dev/usb-ffs/mtp 0770 mtp mtp
    mount functionfs mtp /dev/usb-ffs/mtp uid=2000,gid=2000

on property:sys.usb.config=mtp,adb
    start adbd

# Configfs triggers
on property:sys.usb.config=none && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f2
